/* navbar css */

.navbar {
    position: fixed;
    top: 0;
    left: 10%;
    z-index: 1000;
    height: 60px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
   
}

.left-section {
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: flex;
}

.logo img{
     width: 42.17px;
     height: 29px;
}

.logo-text { 
    color: #37393F;
    font-family: Poppins-bold;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.violet-letters {
    color: #6B77E5; 
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 60px;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    color: #37393F;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}

/* pseudo code */

.nav-links .dropdown::after{
    content: url(../icons/vector.png);
    margin-left: 5px;

}

.right-section {
    width: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B77E5 ;

}

.get-consulting-text{
    color: white;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* first section */


.first-section-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 140px;
}

.text-one {
    color: #37393F;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px; 
}

.text-two {
    color: #37393F;
    text-align: center;
    font-family: Poppins-bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 121%;
}

.first-section,
.third-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 1050px; 
    column-gap:30px;
  
  
}

.content-container-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 386px; 
    height: 383px;
    background-color: #F4F4F4;
    margin-top: 70px;
    }

.content{
    width: 78%;
}
.first-title {
    margin-top: 50px;
    color: #37393F;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 127%;
}

.text {
    color: #7D7D7D;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 146.187%;
    padding-top: 16px;
}

.second-title {
    color: #6B77E5;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 40px;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background: url(../icons/calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #40DDB6;
    border-radius: 50px;
}

.icon-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background: url(../icons/Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6B77E5;
    border-radius: 50px;
}
.icon-three{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background: url(../icons/iconDone.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #40DDB6;
    border-radius: 50px;
}

/* second section */

.second-section{
    position: relative;
    background-image: url(../icons/background.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    margin-top: 60px;
    backdrop-filter:blur(7px) ;
    flex-shrink: 0;
}

.content-two{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}





.icon-fourth::before{
    content: "";
    display: block;
    position: absolute;
    left: 45%;
    margin-top: 30px;
    width: 72px;
    height: 72px;
    background: url(../icons/vectorplay.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6B77E5;
    border-radius: 50px;
   
   
}

h6{
    color: #37393F;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h1{
    color: #37393F;
    text-align: center;
    font-family: Poppins-bold;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 121%;
}

.text-second-section{
    color: #37393F;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.187%;
    margin-top: 15px;
    
}

/* third section */

.third-section{
    margin-top: 30px;
}
.third-section-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.content-container-third{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 386px;
    height: 383px;
    background:url(../icons/photo.png);
    gap:30px;
}

.content-container-four{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 386px;
    height: 383px;
    background:url(../icons/photoman.png);
    gap:40px;
}

.content-container-fifth{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 386px;
    background:url(../icons/photowoman.png);
    gap:40px;
}


.about-coworker{
    width: 250px;
    height: 80px;
    margin-top: 250px;
    background-color: white;
}

    
.team-worker{
    width: 300px;
    height: 532px;
    flex-shrink: 0;
}

.image-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   
}

.name-surname{
    color: #37393F;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profession{
    color: #7D7D7D;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.187%;
}


footer{
    height: 100px;
}

